$main-background:#4042ef;
$main-color:#e7601e;


#banner{
    padding: 11rem 0;
    .strucktur{
        display: inline-block;
        width: 100%;
        margin-bottom: 2.6rem;
        background: #fff;
        overflow: hidden;
        position: relative;
        box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
        &:hover{
            .date{
                background: #e7601e;
                box-shadow: 0 8px 15px rgba(0, 0, 0,  0.1);
                right: 2.6rem;
            }
        }
        figure{
            position: relative;
            margin: 0;
            z-index: 9;
            img{
                border: 0;
                max-width: 100%;
                vertical-align: middle;
                cursor: pointer;
            }
            .date{
                position: absolute;
                bottom: -1.5rem;
                right: 2rem;
                border-radius: 100px;
                padding: 5px 28px;
                background: $main-background;
                font-size: 17px;
                line-height: 2.0999999999999996rem;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0;
                box-shadow: 0 4px 10px rgba(64, 66, 239, 0.3);
                transition-duration: 0.3s;
            }
        }
        .content{
            position: relative;
            z-index: 2;
            padding: 1.6rem 2.6rem 3rem;
            .cat{
                font-size: 19px;
                line-height: 15px;
                font-weight: 400;
                color: $main-color;
                margin: 0;
            }
        }
        .title{
            font-size: 25px;
            font-weight: 900;
            line-height: 2rem;
            margin-top: 6px;
        }
        p{
            margin:12px 0px 30px 0px;
            font-family: Poppins,sans-serif;
            font-size: 17px;
            color: rgba(47,57,69,.7);
            line-height: 23px;
            font-weight: 400;
        }
        .lgx-btn{
            overflow: hidden;
            border: none;
            text-align: center;
            cursor: pointer;
            position: relative;
            font-weight: 600;
            font-size: 14px;
            margin: 0 auto;
            border-radius: 100px;
            padding: 11px 20px;
            box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
            background: #fff;
            color:$main-color;
            text-decoration: none;
            display: inline-block;
            font-family: Poppins,sans-serif;
            transition-duration: .3s;
            &:hover{
                color: #fff;
                background: linear-gradient(to left,#e8931e,#e7601e);
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
            }
            &:hover::before{
                width: 0;
                opacity: .1;
                background: #fff;
                right: 0;
            }
            &::before{
                background: #fff;
                right: 0;
                position: absolute;
                content: '';
                display: block;
                width: 50%;
                height: 100%;
                top: 0;
                opacity: .1;
                transition-duration: .3s;
            }
            &:hover::after{
                width: 0;
                opacity: .1;
                background: #2f3945;
                left: 0;
            }
            &::after{
                background: #2f3945;
                left: 0;
                position: absolute;
                content: '';
                display: block;
                width: 50%;
                height: 100%;
                top: 0;
                opacity: .1;
                transition-duration: .3s;
            }
        }
    }
}